HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### properties ###
/src/main/resources/application.properties
src/main/resources/application.properties

# EC2와 로컬 Docker Compose에서 사용하는 실제 DB/JWT 비밀값
/.env

# A/B 배포의 활성 슬롯, 이미지 태그, Nginx upstream을 보관하는 실행 시점 상태
/runtime/
